body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    font-family: Roboto, serif;
}

.button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    height: 30px;
    margin: auto;
}

button {
    width: auto;
    margin: auto;

}

svg {
   margin: auto;
}

.text {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.parameter {
    margin: auto;
}

textarea {
    margin: auto;
}

p {
    margin: auto;
    padding: 15px;
}

.params {
    margin: 5px;
    width: 150px;
}
